@using Microsoft.AspNetCore.Identity
@using HardcoreHistoryBlog.Data

@inject UserManager<ApplicationUser> _userManager
@{
    var admins = _userManager.GetUsersInRoleAsync("Admin").Result;
} 

<h2>Admins</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in admins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@user.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
