@using Microsoft.AspNetCore.Identity
@using HardcoreHistoryBlog.Data

@inject UserManager<ApplicationUser> _userManager
@{
    var customers = _userManager.GetUsersInRoleAsync("Customer").Result;
}

<h4> Customers </h4>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@user.Id">Details</a> |                    
                </td>
            </tr>
        }
    </tbody>
</table>
<ul>
    <li>
        <a asp-controller="Panel" asp-action="CreateUser">Create a new User</a> 
    </li>
</ul>
