@using Microsoft.AspNetCore.Identity
@using HardcoreHistoryBlog.Data

@inject UserManager<ApplicationUser> _userManager
@{
    var customers = _userManager.GetUsersInRoleAsync("Customer").Result;
}

<h4> Customers </h4>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
