@using HardcoreHistoryBlog.Models.Blog_Models
@model Post

@{

}

<h2>@Model.Title</h2>
<p>@Model.Category</p>
<p>@Model.Short_Description</p>
<p>@Model.Content</p>
<p>@Model.Tags</p>

<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

