@model HardcoreHistoryBlog.Models.Blog_Models.Post

@{
    ViewData["Title"] = "Edit";
}

<form action="@Href("~/Posts/Update")" method="post" id="postForm">
@if (Model.PostId != -1)
{
    <input type ="hidden" name="id" value="@Model.PostId" />
}
    <input type ="text" name="dateTime" value="@Model.PostedOn" /> Date<br />
    <input type ="text" name="title" value="@Model.Title" /> Title<br />
    <input type ="text" name="tags" value="@Model.postTags" /> Tags<br />
    <textarea name="content" rows="10" cols="80">@Model.Content</textarea><br />
    <input type="submit" name="submit" value="Submit" />

</form>

