@model IEnumerable<HardcoreHistoryBlog.Data.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name </th>
        <th>Email</th>
        <th>UserName</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.FirstName</td>
            <td>@c.LastName</td>
            <td>@c.Email</td>
            <td>@c.UserName</td>
        </tr>
    }
</table>

