@using HardcoreHistoryBlog.Models
@using HardcoreHistoryBlog.Models.Blog_Models
@using HardcoreHistoryBlog.Models.Comments
@using HardcoreHistoryBlog.ViewModels
@model Post
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Short_Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
}
<link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Title
                <small>by Admin</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")/
                </li>
                <li>@Html.ActionLink("Posts", "Index", "Posts")/</li>
                <li>@Model.Title</li>
            </ol>
            <p><i class="fa fa-calendar"></i>  @Model.Posted</p>
            <p><i class="fa fa-tags"></i>Tags: <span class="badge badge-info">@Model.Tags</span></p>
        </div>

        <div class="col-lg-8">

            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var image_path = $"/Image/{Model.Image}";
                <img class="img-responsive" src="@image_path" />
            }
            <hr>
            <p class="lead">
                @Html.Raw(Model.Content)

            </p>
            @*<div class="well-sm">
        <h4>
        <i class="fa fa fa-thumbs-up"></i>
        <i class="fa fa fa-thumbs-down"></i>
            </h4>
            </div>*@

            <div class="well-sm">
                <h4><i class="fa fa-fire"></i> Popular Posts:</h4>
                <ul>
                    <li><a asp-controller="Posts" asp-action="Post" asp-route-id="1">The 4th Khan of the Mongols</a></li>
                </ul>
            </div>



            <!-- the comment box -->
            <div class="well">
                <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
                @{ await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 }); }
            </div>

            <hr>
            <!-- the comments -->

            @foreach (var c in Model.MainComments)
            {
                <div class="well=sm">
                    <h5>
                        <p><i class="fa fa-comment"></i><strong>@c.By   </strong><i><small> @c.Edited</small></i></p>
                        <p>@c.Message</p>
                    </h5>
                </div>
                <div class="well-sm" style="margin-left: 20px;">

                    <div id="reply" data-toggle="collapse in">
                        @{
                            await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                        }
                    </div>

                    @foreach (var sc in c.SubComments)
                    {
                        <h6>
                            <p><i class="fa fa comment"></i><strong>@sc.By  </strong><i><small>  @sc.Edited</small></i></p>
                            <p>@sc.Message</p>
                        </h6>
                    }
                </div>
                
            }

        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-lg-4">
            <div class="well">
                <!-- ADDED HERE-->
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Medieval History">Medieval History</a>
                        </li>
                        <li>
                            <a  asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Ancient History">Ancient History</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Modern History">Modern History</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Far Eastern Civ">Far Eastern Civ</a>

                        </li>
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Hardcore Trivia">Hardcore Trivia</a>

                        </li>
                        <li>
                            <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Books">Books</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header"><i class="fa fa-book"></i>Featured Books</h5>
                <div class="card-body">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="~/images/book1.jpg" height="250" width="175" class="img-responsive" alt="The Silk Roads: A New History of the World">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">The Silk Roads: A New History of the World</h3>
                                <p>All hardcore fans of the Silk Road would be silly not to buy this fantastic book from Peter Frankopan</p>
                                <a class=" btn btn-default" href="#"><i class="fa fa-plus"></i> INFO</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="~/images/spqr.jpg" height="250" width="175" class="img-responsive" alt="SPQR">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">SPQR</h3>
                                <p>In my opinion one of the best Modern-day takes on the Illuastrious Roman Empire</p>
                                <a class=" btn btn-default" href="#"><i class="fa fa-plus"></i> INFO</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /well -->
            <div class="card my-4">
                <h4><i class="fa fa-tags"></i> Popular Tags:</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Nomads"><span class="badge badge-info">Nomads</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Mongols"><span class="badge badge-info">Mongols</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Asyrians"><span class="badge badge-info">Asyrians</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Anatolia"><span class="badge badge-info">Anatolia</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Ertugrul"><span class="badge badge-info">Ertugrul</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Ottomans"><span class="badge badge-info">Ottomans</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Vikings"><span class="badge badge-info">Vikings</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Posts" asp-action="Index" asp-route-tag="Visgoths"><span class="badge badge-info">Visgoths</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>















































